################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PACMAN/v15
/PACMAN.7z
/Pacman SP Backup 18-1-2017.sql
/Pacman Backup.7z
/Pacman Backup 18-1-2017.sql
