SELECT AccountID
      ,Account
      ,LOB
      ,ReportingTimeZone
	  ,Intervals
	  ,QStartTime
	  --,0 as QEndTime	       
FROM  
    ( Select * from [CWFM_Umang].[wfmps].[TmpHoop] ) p  
UNPIVOT       
(
	QStartTime FOR Intervals IN   
      (
	  [Start-1]      
      ,[Start-2]      
      ,[Start-3]      
      ,[Start-4]      
      ,[Start-5]      
      ,[Start-6]      
      ,[Start-7]      
	  )     
	  
)AS A

Union
SELECT AccountID
      ,Account
      ,LOB
      ,ReportingTimeZone
	  ,Intervals
	  --,0 as QStartTime
	  ,QEndTime	       
FROM  
    ( Select * from [CWFM_Umang].[wfmps].[TmpHoop] ) p  
UNPIVOT       
(
	QEndTime FOR Intervals IN   
      ([End-1]      
      ,[End-2]      
      ,[End-3]      
      ,[End-4]      
      ,[End-5]      
      ,[End-6]      
      ,[End-7])     
	  
)AS B


